
@{
    ViewBag.Title = "About";
}

<h2>О проекте</h2>
<br />
<br />
<br />
<p>Проект выполнен студентом группы С15ПЗ3 Филоненко Дмитрием.</p>
<br />
<br />
<br />
<a href="http://itstep.org">Компьютерная академия "Шаг", 2016г.</a>

