@using UI.Models;
@model UI.Models.ArgListForFind

@{
    ViewBag.Title = "Index";
}

<h2>Главная</h2>


@*@{var listItems = new List<FindArgument>
    {
        new FindArgument { ArgId = 1, ArgName = "RentName" },       /*RentName*/
        new FindArgument { ArgId = 2, ArgName = "dogovor" },        /*dogovor*/
        new FindArgument { ArgId = 3, ArgName = "EDRPOU" },         /*EDRPOU*/
        new FindArgument { ArgId = 4, ArgName = "RentAddress" },    /*RentAddress*/
        new FindArgument { ArgId = 5, ArgName = "DateEnd" }         /*DateEnd*/
    };
}
@Html.DropDownList("Args", new SelectList(listItems, "ArgId", "ArgName"))*@

<br /><br />
<table>
    <tr>
        <td>Выберите параметр поиска:</td>
        <td>@Html.DropDownList("Arguments", new SelectList(Model.ArgList as System.Collections.IEnumerable, "ArgId", "ArgName"), new { id = "drop", @class = "select-class" })</td>
        <td> и введите данные для поиска:</td>
        <td><input type="text" id="str" /></td>
    </tr>
</table>

<br />

<div id="Res"></div>

@section script
{   
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery-2.2.3.min.js"></script>

    <script>
        $(function () {
            
            function Find(id) {

                //var id = $("#Argument").val();
                var str = $('#str').val();                                                                    //$("#Reg").load("/Region_DDL_/GetCities/" + id);
                //$.ajax({
                //    type: 'GET',
                //    url: '/Region_DDL_/GetCities/',
                //    data: id,
                //    success: function (data) {
                //        $('#Reg').html(data);
                //    }
                //});
                alert("id = " + id + ", str = " + str);

                $.ajax({
                    type: 'POST',
                    url: '/Home/Search/',
                    data: {id:id, str:str},
                    success: function (data) {
                        $('#Res').html(data);
                    }
                });
            }

            Find();

            $("#drop").change(function () {
                var id = this.value;
                Find(id);
            });



        });
    </script>
}
