USE master;
IF DB_ID('Rentor') IS NOT NULL
   DROP DATABASE Rentor;
CREATE DATABASE Rentor;
GO
USE [Rentor]
GO
/****** Object:  Table [dbo].[Rent]    Script Date: 03/18/2016 17:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rent](
	[RentId] [int] NOT NULL,
	[RentName] [nvarchar](200) NOT NULL,
	[dogovor] [varchar](15) NOT NULL,
	[DateStart] [date] NULL,
	[DateEnd] [date] NULL,
	[EDRPOU] [varchar](15) NULL,
	[Telephon] [varchar](10) NOT NULL,
	[ContactaName] [nvarchar](64) NOT NULL,
	[LegalAddress] [nvarchar](200) NOT NULL,
	[RentAddress] [nvarchar](200) NOT NULL,
	[SquareArea] [numeric](9, 2) NOT NULL,
	[Credit] [numeric](18, 2) NOT NULL,
	[Debet] [numeric](18, 2) NOT NULL,
	[Latitude] [numeric](10, 10) NULL,
	[Longitude] [numeric](10, 10) NULL,
PRIMARY KEY CLUSTERED 
(
	[RentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Rent] ([RentId], [RentName], [dogovor], [DateStart], [DateEnd], [EDRPOU], [Telephon], [ContactaName], [LegalAddress], [RentAddress], [SquareArea], [Credit], [Debet]) VALUES (4, N'Сільськогосподарське ТОВ "Теремки "', N'740', CAST(0xAE200B00 AS Date), CAST(0x3A330B00 AS Date), N'31239974', N'0445174995', N'Буханенку О.І.', N'м. Київ, Кільцева дорога, буд. 1, ', N'Kiev, Луначарського вул., 24', CAST(93.40 AS Numeric(9, 2)), CAST(2626.91 AS Numeric(18, 2)), CAST(2889.74 AS Numeric(18, 2)))
INSERT [dbo].[Rent] ([RentId], [RentName], [dogovor], [DateStart], [DateEnd], [EDRPOU], [Telephon], [ContactaName], [LegalAddress], [RentAddress], [SquareArea], [Credit], [Debet]) VALUES (10, N'Адвокат Hечипоренко Борис Євгенійович', N'636', CAST(0x49270B00 AS Date), CAST(0xD92F0B00 AS Date), N'1905806677', N'0445171617', N'', N'Київ, вул. Луначаpського, буд. 24, ', N'Kiev, Луначарського вул., 24', CAST(42.50 AS Numeric(9, 2)), CAST(45383.16 AS Numeric(18, 2)), CAST(45642.34 AS Numeric(18, 2)))
INSERT [dbo].[Rent] ([RentId], [RentName], [dogovor], [DateStart], [DateEnd], [EDRPOU], [Telephon], [ContactaName], [LegalAddress], [RentAddress], [SquareArea], [Credit], [Debet]) VALUES (34, N'ТОВ "МЕДІА ФОТО ФАН МІЛЯ -2012', N'2292', CAST(0x042E0B00 AS Date), CAST(0x2E2F0B00 AS Date), N'14300257', N'0442350266', N'Волкову С.Л.', N'м. Київ,  вул. Пушкінська, буд. 20, ', N'Kiev, Малишка Андрія вул., 39', CAST(32.70 AS Numeric(9, 2)), CAST(22460.50 AS Numeric(18, 2)), CAST(19892.28 AS Numeric(18, 2)))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
/****** Object:  Default [DF__Rent__SquareArea__0F975522]    Script Date: 03/18/2016 17:43:53 ******/
ALTER TABLE [dbo].[Rent] ADD  DEFAULT ((0)) FOR [SquareArea]
GO
/****** Object:  Default [DF__Rent__Credit__108B795B]    Script Date: 03/18/2016 17:43:53 ******/
ALTER TABLE [dbo].[Rent] ADD  DEFAULT ((0)) FOR [Credit]
GO
/****** Object:  Default [DF__Rent__Debet__117F9D94]    Script Date: 03/18/2016 17:43:53 ******/
ALTER TABLE [dbo].[Rent] ADD  DEFAULT ((0)) FOR [Debet]
GO
